<article class="comic">
  <div class="panel">
    <img src="../../assets/batman.jpg" alt="batman" />
    <p class="text top-left">Batman is...</p>
    <p class="text bottom-right">a homicidal psychopath</p>
  </div>
  <div class="panel">
    <img src="../../assets/batmanbreakjaw.jpg" alt="batman breaks jaw" />
    <p class="text top-left">He is delusional</p>
    <p class="text bottom-right">..and a menace to society</p>
  </div>
  <div class="panel">
    <img src="../../assets/batmanpunching.jfif" alt="batman descending" />
    <p class="text top-left">breaking necks</p>
  </div>
  <div class="panel">
    <img
      src="../../assets/batmankillscrooks.jpg"
      alt="batman kills crooks"
      style="min-height: 100%"
    />
    <p class="text bottom-right">and cashing checks!</p>
  </div>
  <div class="panel">
    <img
      src="../../assets/batmankillsdisplay2.jpg"
      alt="batman using a maching gun to kill crooks"
      style="min-height: 100%"
    />
    <p class="text top-left">a gatling gun??</p>
    <p class="text bottom-right">...really??</p>
  </div>
  <div class="panel">
    <img
      src="../../assets/Killingjoke.jfif"
      alt="Joker on killing joke graphic novel cover"
    />
    <p class="text top-left">He has a hard on for this guy.</p>
  </div>
  <div class="panel">
    <img src="../../assets/batmancrazed.jpg" alt="Batman in a crazed state" />
    <p class="text top-left">ah...looks like he just left the orphanage!</p>
  </div>
  <div class="panel">
    <img
      src="../../assets/Thomas-Wayne-as-Batman-kills-Reverse-Flash.jpg"
      alt="Thomas Wayne as Batman kills Reverse Flash"
      style="height: 0; min-height: 100%"
    />
    <p class="text top-left">Why is he like this?</p>
  </div>
  <div class="panel">
    <a
      href="https://www.fortressofsolitude.co.za/10-reasons-batman-is-crazier-than-the-joker/"
      ><img
        src="../../assets/batmanhurtyou.jpg"
        alt="Batman in a crazed state"
        style="height: 0; min-height: 100%"
    /></a>
    <p class="text top-left">Does this man look sane to you??</p>
    <p class="text bottom-right">
      Click this picture to discover the truth behind Batman!
    </p>
  </div>
</article>
